In [ ]:
import pandas as pd
import seaborn as sns

In [ ]:
tips = sns.load_dataset('tips')

In [ ]:
tips.head()

In [ ]:
titanic = pd.read_csv('train.csv')

In [ ]:
flights = pd.read_csv('flights.csv')

In [ ]:
iris = sns.load_dataset('iris')

In [ ]:
iris

## 1. Scatterplot (Numerical - Numerical)

In [ ]:
sns.scatterplot(x="total_bill",y="tip",data=tips,hue="sex",style="smoker",size="size")

## 2. Bar Plot (Numerical - Categorical)

In [ ]:
titanic.head()

In [ ]:
sns.barplot(x='Pclass',y='Age',data=titanic,hue="Sex")

## 3. Box Plot (Numerical - Categorical)

In [ ]:
sns.boxplot(x = "Sex",y="Age",data = titanic,hue = 'Survived')

## 4. Distplot (Numerical - Categorical)

In [ ]:
sns.distplot(titanic[titanic['Survived']==0]['Age'],hist=False)
sns.distplot(titanic[titanic['Survived']==1]['Age'],hist=False)

## 5. HeatMap (Categorical - Categorical)

In [ ]:
titanic.head(3)

In [ ]:
pd.crosstab(titanic['Pclass'],titanic['Survived'])

In [ ]:
sns.heatmap(pd.crosstab(titanic['Pclass'],titanic['Survived']))

In [ ]:
(titanic.groupby('Embarked')['Survived'].mean()*100)

## 6. ClusterMap (Categorical - Categorical)

In [ ]:
sns.clustermap(pd.crosstab(titanic['Parch'],titanic['Survived']))

## 7. Pairplot

In [ ]:
iris.head()

In [ ]:
sns.pairplot(iris,hue='species')

## 8. Lineplot (Numerical - Numerical)

In [ ]:
flights.head()

In [ ]:
new = flights.groupby('year').sum().reset_index()
new

In [ ]:
new.drop(['month'], axis=1)

In [ ]:
sns.lineplot(x='year',y= 'passengers', data = new)

In [ ]:
flights

In [ ]:
flights.pivot_table(values='passengers',index='month',columns='year')

In [ ]:
sns.clustermap(flights.pivot_table(values='passengers',index='month',columns='year'))